.card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 10px 3px rgb(0 0 0 / 6%), -5px -5px 30px 7px rgb(0 0 0 / 2%);
  color: var(--dark);
  margin: 1rem;
  max-width: 70vw;
  padding: 1.5rem;
  transition: all 0.15s ease-in-out;
}

.card:hover,
.card:focus,
.card:active {
  box-shadow:
    5px 5px 30px 15px rgb(0 0 0 / 7%),
    -5px -5px 30px 15px rgb(0 0 0 / 3%);
  color: var(--accent);
  transition: all 0.15s ease-in-out;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0.2rem;
}

.subtitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 1;
  margin: 0;
}

.summary {
  font-size: 1rem;
  margin: 1rem 0;
}

.date {
  border-color: var(--dark);
  font-size: 0.8rem;
  opacity: 0.8;
}
